.base {
  width: 100%;
  padding-block: calc(0.25rem * 20);
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  max-width: calc(0.25rem * 170.5);
  gap: calc(0.25rem * 8);
  width: 100%;
}


.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}