.base {
  display: flex;
  height: 56px;
  justify-content: center;
  align-items: center;
  border-color: #0000;
  border-radius: 8px;
  background: var(--yellow);
  border: transparent;
}

.base:hover {
  border-radius: 8px;
  border: 2px solid var(--yellow-light, #dbc170);
  background: var(--yellow, #b8952e);
}

.base:disabled {
  pointer-events: none;
  opacity: 0.3;
  background-color: var(-yellow);
  border-color: #0000;
}

.text {
  color: var(--gray-900) !important;
}
