.base {
  display: flex;
  padding: calc(0.25rem * 2) calc(0.25rem * 5);
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid var(--gray-500, #3e3c41);
  background: var(--gray-600, #2e2c30);
  color: var(--gray-200, #b2afb6);
  cursor: pointer;
}

.base:hover {
  border: 1px solid var(--gray-500, #3e3c41);
  background: var(--gray-500, #3e3c41);
}

.disabled {
  border: 1px solid var(--gray-600);
  background-color: #0000;
  color: #3e3c41;
  cursor: not-allowed;
  pointer-events: none;
}

.base:has(input[type="radio"]:checked) {
  border: 1px solid var(--yellow, #b8952e);
  background: var(--gray-600, #2e2c30);
  color: var(--yellow, #b8952e);
}

.hidden {
  display: none;
}
