.base {
  display: flex;
  height: 48px;
  /* padding-inline: 12px; */
  padding: calc(0.25rem * 3);
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--gray-500, #3e3c41);
}

.base:has(button:focus) {
  border-radius: 8px;
  border: 2px solid var(--yellow-dark, #846f2e);
}

input::-webkit-calendar-picker-indicator,
.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  display: none;
  -webkit-appearance: none;
  margin: 0;
}
