.base {
  display: flex;
  margin-inline: auto;
  position: relative;
  padding: 0.75rem;
  gap: 12px;
  max-width: calc(0.25rem * 360);
  margin-inline: auto;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 139px;
  height: 56px;
}