.card_border {
  border: 1px solid var(--gray-600, #2e2c30);
  border-radius: 8px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  gap: 12px;
  border-bottom: 1px solid var(--gray-600, #2e2c30);
}

.card_bottom {
  composes: card;
  border-bottom: none;
  padding: 16px;
}

.aling {
  display: flex;
  justify-content: center;
  gap: 8px;
}
