.base {
  width: 100%;
  padding-block: calc(0.25rem * 20);
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  max-width: calc(0.25rem * 170.5);
  gap: calc(0.25rem * 8);
  width: 100%;
}

.card_border {
  border: 1px solid var(--gray-600, #2e2c30);
  border-radius: 8px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  gap: 12px;
  border-bottom: 1px solid var(--gray-600, #2e2c30);
}

.card_bottom {
  composes: card;
  border-bottom: none;
}

.aling {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}